@charset "utf-8";

*{
  margin:0;
  padding:0;
}

body{
  background-color: mistyrose;
  width: 1400px;
}

h1, h2, h3, h4, h5, h6, li, p{
  font-family: cursive;
}

header{
  background-image:url(../img/cat_cover1.jpg);
  background-repeat: no-repeat, no-repeat;
  height: 200px;
  padding: 50px 30px;
  font-size: 20px;
  color: peachpuff;
}

#gnav ul {
  overflow: hidden;
}

#gnav a{
  display: block;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
  background: lightcoral;
  color: black;
}

#gnav a:hover{
  background: crimson;
  color: white;
}

#gnav li{
  float: left;
  width: 19%;
  border-right: white 1px solid;
  list-style-type: none;
}

#gnav li:first-child{
  border-left: white 1px solid;
}

#sideBar li{
  list-style-type: none;
}

#sideBar a{
  padding: 2px 2px;
  text-decoration: none;
  color: darkgray;
}

#sideBar a:hover{
  color: dimgray;
  text-decoration: underline;
}

aside{
  width: 15%;
  padding: 15px 20px;
  border: lightpink 1px solid;
  margin: 40px 20px;
  background-color:white;
  color: darkgray;
  border-radius: 10px;
  float: right;
}

.articleStyle{
  padding: 40px 0;
  width = 80%;
}

dt{
  float: left;
  font-weight: bold;
}

p.button {
  margin: 0 40%;
}

p.button a{
  background-color: palevioletred;
  border: lightpink 1px solid;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  disply: inline-block;
  padding: 2px 8px;
  margin: 0 10px;
}

.button a:hover{
  background-color: white;
  border: lightpink 1px solid;
  color: palevioletred;
  border-radius: 5px;
  text-decoration: none;
  padding: 2px 8px;
  margin: 0 10px;
}

#main{
  width:40%;
  padding: 40px 80px;
  border: lightpink 1px solid;
  margin: 40px 30px;
  background-color:white;
  color: darkgray;
  border-radius: 10px;
  float: right;
}

footer{
  margin: 60px 20px;
  clear: both;
}
