@charset "utf-8";

*{
  margin:0;
  padding:0;
}

body{
  background-color: mistyrose;
}

aside{
  width:15%;
  float:left;
  padding: 15px 20px;
  border: lightpink 1px solid;
  margin: 40px 50px;
  background-color:white;
  float:right;
}

#main{
  width:50%;
  padding: 40px 80px;
  border: lightpink 1px solid;
  margin: 40px 20px;
  background-color:white;
  float:left;
}

footer{
  clear:both;
}
